@import '../../assets/mixins/mixins.scss';

.menu {
    position: fixed;
    top: 64px;
    left: 0px;
    width: 100%;
    z-index: 55;
    background-color: rgba(217, 217, 217, 0.98);
    padding-top: 14px;
    max-height: 900px;
    transition: max-height 0.25s ease-in;
    text-align: center;
    
    &__link {
        display: block;
        font-size: 20px;
        margin-bottom: 40px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Cormorant Garamond', serif;

        &.active {
            text-decoration: underline;
            & .container {
                display: inline-flex;
                flex-direction: column;
                font-size: 16px;
                color: #5b5c5b;
                text-transform: uppercase;
                margin-left: 20px;
                pointer-events: none;

                &__sublink {
                    flex: 1;
                    height: 100%;
                    z-index: 5;
                    pointer-events: visible;

                    &.active {
                        text-decoration: underline;
                    }
                }
            }
            
        }

        & .container {
            display: none;
        }

    }


    &__link.active:first-of-type {
        text-decoration: none;
        display: inline-flex;
        flex-direction: column;
    }

    &__link.active {
        & .container {

            &__sublink {
                margin-top: 24 x;
            }
        }
    }

    &.hidden {
        max-height: 0;
        padding: 0px;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    }
}

@include tablet-p {
    .menu {
        display: block;
        text-align: left;
        position: fixed;
        top: 58px;
        left: 40px;
        border-right: 4px #d2effe solid;
        width: 196px;
        height: calc(100vh - 98px);
        transition: none;
        opacity: 1;
        background-color: #fff;

        &.hidden {
            display: block;
            text-align: left;
            position: fixed;
            top: 58px;
            left: 40px;
            border-right: 4px #d2effe solid;
            width: 196px;
            height: calc(100vh - 98px);
            transition: none;
            opacity: 1;
            background-color: #fff;
        }
    }
}

@include desktop {
    .menu {
        display: inline-block;
        top: 80px;
        left: 0;
        border-right: 4px #d2effe solid;
        width: 256px;
        height: 90%;
        padding-left: 40px;

        &.hidden {
            display: inline-block;
            top: 80px;
            left: 0;
            border-right: 4px #d2effe solid;
            width: 256px;
            height: 90%;
            padding-left: 40px;
        }
    }
}