.fullView {
    &__img {
        width: 100%;
        padding: 23px 16px 10px 17px;
    }

    &__name, &__session {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 12px;
        margin-left: 26px;
    }

    &__menu {
        margin-top: 15px;
    }

    &__session {
        margin-bottom: 36px;
    }
}