@import '../../assets/mixins/mixins.scss';

.aboutme {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        font-family: 'Montserrat', serif;
        font-size: 32px;
        color: #5b5c5b;
        text-align: center;
        margin: 32px auto 32px auto;
    }

    &__image {
        margin: 0;
        padding: 0;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;

        &__text {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-align: justify;
            padding:  0 48px;
            margin-top: 38px;
            margin-bottom: 40px;
        }

        &__buttons {
            display: inline-flex;
            width: 100%;
            justify-content: space-around;
            padding: 0px 40px;
            margin-bottom: auto;

            &__CTA {
                display: inline-block;
                border: solid 2px #5b5c5b;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                width: 140px;
                height: 32px;
                cursor: pointer;
                transition: ease-in-out .3s;
                user-select: none;
                text-align: center;
                margin-bottom: auto;
                padding: 6px 0;
    
                &:active {
                    color: #fff;
                    border-color: #5b5c5b;
                    background-color: #5b5c5b;
                }
            }
        }

        
    }
}

@include tablet-p {
    .aboutme {  
        padding: 0 20px;

        &__content {
            &__buttons {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}

@include desktop {
    .aboutme {
        flex-direction: row;
        height: 100%;
        width: 100%;
        max-width: unset;
        margin: auto;

        &__image {
            width: 50%;
            max-width: 700px;
            margin: auto 0 auto auto;
        }

        &__content {
            padding: 0 0 0 40px;
            width: 50%;
            min-width: 300px;
            max-width: 700px;
            margin: auto 0;

            &__title {
                font-size: 55px;
                text-align: left;
            }

            &__text {
                text-align: left;
                margin-top: 20px;
                padding: 0;
                width: 95%;
                max-width: 550px;
                font-size: 16px;
            }

            &__buttons {
                display: inline-flex;
                flex-direction: row;
                width: 95%;
                max-width: 550px;

                &__CTA {
                    padding: 10px 0px;
                    border: solid 2px #5b5c5b;
                    cursor: pointer;
                    font-size: 1.4vw;
                    width: 13.5vw;
                    white-space: nowrap;
    
                    &:hover {
                        color: #fff;
                        border-color: #5b5c5b;
                        background-color: #5b5c5b;
                    }
                }
            }

        }
    }
}

@include desktop-big {
    .aboutme {
        height: 100%;

        &__image {
            width: 45%;
        }

        &__content {
            width: 45%;
            max-width: 650px;
            margin: auto;

            &__title {
                font-size: 100px;
                text-align: left;
            }

            &__text {
                width: 580px;
                max-width: unset;
                font-size: 22px;
            }

            &__buttons {
                width: 580px;
                max-width: unset;

                &__CTA {
                    font-size: 28px;
                    width: 250px;
                }
            }
        }
    }
}